#jinja2: trim_blocks:False
upstream prometheus {
    {{'{{'}}- range service "prometheus" {{'}}'}}
    server {{'{{'}} .Address {{'}}'}}:{{'{{'}} .Port {{'}}'}};
    {{'{{'}}- end {{'}}'}}
}

upstream grafana {
    {{'{{'}}- range service "grafana" {{'}}'}}
    server {{'{{'}} .Address {{'}}'}}:{{'{{'}} .Port {{'}}'}};
    {{'{{'}}- end {{'}}'}}
}

upstream alertmanager {
    {{'{{'}}- range service "alertmanager" {{'}}'}}
    server {{'{{'}} .Address {{'}}'}}:{{'{{'}} .Port {{'}}'}};
    {{'{{'}}- end {{'}}'}}
}

upstream victoria {
    {{'{{'}}- range service "victoria" {{'}}'}}
    server {{'{{'}} .Address {{'}}'}}:{{'{{'}} .Port {{'}}'}};
    {{'{{'}}- end {{'}}'}}
}

upstream graylog {
    {{'{{'}}- range service "graylog" {{'}}'}}
    server {{'{{'}} .Address {{'}}'}}:{{'{{'}} .Port {{'}}'}};
    {{'{{'}}- end {{'}}'}}
}

upstream sonarqube {
    {{'{{'}}- range service "sonarqube" {{'}}'}}
    server {{'{{'}} .Address {{'}}'}}:{{'{{'}} .Port {{'}}'}};
    {{'{{'}}- end {{'}}'}}
}
