[Unit]
Description=consul-template
Documentation=https://github.com/hashicorp/consul-template/
Wants=basic.target
After=network-online.target

[Service]
User={{ consul_template_user }}
Group={{ consul_template_group }}
{% if consul_template_use_config_dir %}
ExecStart={{ consul_template_home }}/bin/{{ consul_template_binary }} -config={{ consul_template_home }}/config/"
{% else %}
ExecStart={{ consul_template_home }}/bin/{{ consul_template_binary }} -config={{ consul_template_home }}/config/{{ consul_template_config_file }}
{% endif %}
SuccessExitStatus=12
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
KillMode=process
Restart=on-failure
Restart=always
RestartSec=5
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
